.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background-color: black;
  padding-left: 1rem;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1rem;
  width: fit-content;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.itemsRow {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
}

.itemBox {
  text-align: center;
}

.label {
  font-size: 0.9rem;
  font-weight: 500;
  color: #a3a3a3;
}

.value {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: start;
}

.divider {
    width: 1px;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.3);
    align-self: center;
  }
  
