.filterSection {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  border-radius: 10px;
}

.attSection {
  display: flex;
  flex-direction: column;
}

.searchContainer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  width: 20vw;
  height: 5vh;
  margin-right: 2vw;
  margin-left: 1vw;
}

.searchInput {
  border: none;
  outline: none;
  /* padding: 0.3rem; */
  background: transparent;
  color: white;
  flex: 1;
  width: 100%;
}

.searchInput::placeholder {
  color: rgb(119, 116, 116);
  font-size: 2.3vh;
  font-weight: 400;
  opacity: 1;
}

.searchButton {
  background: #007bff;
  border: none;
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-right: 0.6vw;
}

.customDropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.4rem;
  border-radius: 8px;
  min-width: 18vw;
  cursor: pointer;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  color: #aaa;
  font-size: 2.8vh;
}

.label {
  color: white;
  font-size: 2.2vh;
}

.arrowIcon {
  color: #aaa;
  font-size: 2vh;
}

.filterSectionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  /* border-radius: 10px; */
}

.filterSectionLeft {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.toggleIcons {
  display: flex;
  gap: 0.6vw;
}

.tableIcon,
.gridIcon {
  font-size: 3vh;
}

.toggleBtn {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1vh;
  border-radius: 8px;
  cursor: pointer;
  color: #aaa;
  transition: background 0.3s, color 0.3s;
}

.toggleBtn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.toggleBtn.active {
  background-color: #007bff;
  color: white;
}

.calendarWrapper {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 100;
  margin-top: 10vh;
  /* padding: 10px; */
  /* border-radius: 20px; */
}

.okButton {
  margin-top: 2vh;
  margin-left: 2vh;
  padding: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.calendarWrapper {
  position: absolute;
  border: 1px solid #ccc;
  margin-top: 10vh;
  display: flex;
  gap: 2rem;
  background: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.displaymobile{
  display: none;
}

@media screen and (max-width: 615px) {
  .displaymobile{
    display: flex;
   
    justify-content: center;
  }
  .nodisplaymobile{
    display: none;
   
  }
  .searchContainer {
    width: 60vw;
  }
  .searchButton {
   
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 0vw;
  }
 .tableIcon{
  display: none;
 }
 .calendarWrapper {
flex-direction: column;
  gap: 2rem;
  padding: 0.5rem;
}
}