.container {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: black;
  padding-left: 1rem;
  height: 10%;
}

.card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 1rem;
  width: fit-content;
  /* width: 30vw; */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
}

.title {
  font-size: 2.2vh;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 1rem;
}

.itemsRow {
  display: flex;
  justify-content: space-evenly;
  gap: 2vw;
  flex-wrap: wrap;
}

.itemBox {
  text-align: center;
  height: 12vh;
  width: 7vw;
}

.label {
  font-size: 2.3vh;
  font-weight: 500;
  color: #a3a3a3;
}

.value {
  font-size: 3vh;
  color: #ffffff;
  text-align: center;
}

.divider {
  width: 1px;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.3);
  align-self: center;
}
