.container {
  padding: 1vh;
  margin: 2vh;
  color: #fff;
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: auto;
  height: 50vh;
  scrollbar-width: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 90%;
}

.table th,
.table td {
  padding: 1.5vh 1vw;
  text-align: left;
}

.table th {
  background-color: black;
  color: white;
  font-weight: normal;
  font-size: 2vh;
}

.table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.02);
}

.table tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.06);
}

.timein {
  color: rgb(6, 206, 6);
  font-size: 2.5vh;
  font-weight: 500;
}

.timeout {
  color: #e74c3c;
  font-size: 2.5vh;
  font-weight: 500;
}

.overtime{
  font-size: 2.2vh;
  font-weight: 500;
}

.profileImage {
  width: 3vw;
  height: 6.5vh;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5vh;
}

.employeeInfo {
  display: flex;
}

.namePhone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.employeeName {
  font-weight: 400;
  font-size: 2.5vh;
}

.phoneNumber {
  font-size: 2vh;
  color: #7d7d7d;
}

.timeContainer {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.timeImage {
  width: 3.5vw;
  height: 3.3vw;
  object-fit: cover;
  border-radius: 2px;
}

.location {
  font-size: 2.2vh;
  font-weight: normal;
}

.timeline {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.dot {
  font-size: 3vh;
  color: white;
  margin: 0;
}

.workingTime {
  font-weight: 500;
  font-size: 2vh;
  color: #7d7d7d;
  white-space: nowrap;
}

.statusPresent {
  border-left: 1.3vh solid green;
}

.statusAbsent {
  border-left: 1.3vh solid red;
}

.statusWeekOff {
  border-left: 1.3vh solid orange;
}

.date {
  font-weight: 500;
  font-size: 2.2vh;
  color: #7d7d7d;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5vw;
  padding: 2vh;
  height: 40vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* width: 300px; */
  min-width: 20vw;
  max-width: 20vw;
  height: 20vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardStatusBtn {
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 2vh;
  text-transform: capitalize;
}

.cardPresent {
  background-color: green;
}

.cardAbsent {
  background-color: red;
}

.cardWeekOff {
  background-color: orange;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
}

.timeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.cardWorkingTime {
  font-weight: 500;
  font-size: 2vh;
  color: #7d7d7d;
  white-space: nowrap;
}

.cardTimeImage {
  margin-bottom: 1vh;
  width: 3.5vw;
  height: 3.3vw;
  object-fit: cover;
  border-radius: 8px;
}

.cardDate {
  font-weight: 200;
  font-size: 1.8vh;
  color: #ede2e2;
}

.cardName {
  font-weight: 400;
  font-size: 2.2vh;
  color: #ede2e2;
  margin-bottom: 1.7vh;
}

.timeDetails {
  text-align: center;
}

.timeValue {
  font-size: 2.2vh;
  margin: 4px 0;
  color: white;
}
