.maincontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.leaveSection {
  display: flex;
  flex-direction: column;
  flex: 2;
  width: 75%;
  height: 100%;
}
/* ...............................aprove reject card................................... */
.leavecontainer {
  display: flex;
  flex-direction: row;
  padding: 2rem 1rem;
  cursor: pointer;
}
.leavecard {
  display: flex;
  flex-direction: column;
  color: #d7cfcf;
  padding-left: 2rem;
}

.divider {
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  width: 11vw;
}
.numberleave {
  font-size: 25px;
}

.request {
  color: #b3d1f4;
}

.aproved {
  color: rgb(201, 254, 201);
}

.rejected {
  color: rgb(244, 180, 180);
}

.pending {
  color: rgb(238, 203, 138);
}
.leavecard p {
  font-size: 16px;
}

/* ........................................information.................................. */
.container {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 2rem 0.5rem;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  padding: 0.5rem;
  background-color: hsla(0, 0%, 100%, 0.075);
  border-bottom: 1px solid #3b3939;
}

.iconplan {
  font-size: 20px;
}

.vector {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffff;
  align-items: center;
  justify-content: center;
}

.context p {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.context h6 {
  color: #b6b1b1;
  font-size: 10px;
}

.context h4 {
  font-size: 14px;
}

.context {
  display: flex;
  flex-direction: column;
  width: 7vw;
}

/* .................................form section.................................... */
.applysection {
  margin-top: 2vh;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  width: 25%;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.formHeadline {
  margin-top: 3vh;
  padding-left: 2vw;
  color: #9b9a9a;
  font-size: 2.5vh;
  font-weight: bold;
}

/*....................................... reason......................................... */

.control {
  position: relative;
}

.dateicon {
  position: absolute;
  top: 50%;
  left: 7rem;
  transform: translateY(-50%);
  color: #007bff;
  pointer-events: none;
}

.uploadBox {
  display: flex;
  align-items: center;
  gap: 1vw;
  background-color: black;
  border: 1px solid rgba(252, 245, 245, 0.4);
  padding: 1vh 1vh;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  position: relative;
}

.inputIcon {
  font-size: 3vh;
  color: #007bff;
  position: relative;
}

.uploadText {
  font-size: 2vh;
  color: rgba(252, 245, 245, 0.8);
}

.fileName {
  margin-top: 5px;
  font-size: 0.9rem;
  color: rgba(252, 245, 245, 0.8);
}

/* button css */
/* .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.submitButton {
  background-color: #00d4ff;
  color: black;
  border: 1px solid #00d4ff;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 90%;
} */

/* .submitButton:hover {
  background-color: transparent;
  color: #00d4ff;
} */

.formControl {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 5vh;
  margin-left: 2vw;
  margin-right: 4vw;
  width: 21vw;
  border-radius: 8px;
}

.formControl textarea {
  padding: 1vw;
  background-color: black;
  color: white;
  border-radius: 8px;
}

.formControl label {
  font-size: 0.9vw;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: black;
  padding: 0 10px;
  color: #949494;
  border-radius: 8px;
}

.formControl select {
  padding: 10px;
  background-color: black;
  font-size: 0.9vw;
  color: #ccc;
  border-radius: 8px;
}

.formControl input {
  padding: 10px;
  font-size: 0.9vw;
  background-color: black;
  color: white;
  border: 1px solid rgba(252, 245, 245, 0.4);
  border-radius: 8px;
}
