.taskContainer {
  /* background-color: white; */
  /* background-color: rgba(255, 255, 255, 0.06); */
  /* color: black; */
  width: 400px;
  height: 33vh;
  padding: 10px;
  border-radius: 8px;
  /* border: 2px solid #00e1ff; */
  /* border: 2px solid rgb(223,220,220); */
  /* border: 1px solid rgba(255, 255, 255, 0.2);  */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  */
  
}
.card {
  /* background: white; */
  /* padding: 20px; */
  /* border-radius: 12px; */
  background-color: rgba(255, 255, 255, 0.06); 
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);   
    border-radius: 8px;
    max-height: fit-content;
}

.heading {
  /* font-size: 18px;
  font-weight: bold; */
  margin-bottom: 10px;
  font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
  /* color: #ffff; */
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 30vh;
  scrollbar-width: none;
}
.taskList::-webkit-scrollbar {
  display: none;
}

.taskCard {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  /* background-color: white; */
  border-bottom:  1px solid rgba(255, 255, 255, 0.2);
  /* border: 1px solid #333; */

  /* color: #ffff; */
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid white;
}

.taskInfo {
  display: flex;
  flex-direction: column;
}

.clientName {
  /* font-weight: bold; */
  color: white;
  font-size: 1rem;
}

.remark {
  font-size: 14px;
  /* color: #00e1ff; */
  /* color: rgb(82,81,81); */
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 615px) {
  .card {
 display: none;
  }
}
@media screen and  (max-width: 1024px ) and (min-width: 616px){
  .taskContainer {

    width: 95%;
   
  }
  .card {
width: 45%;
  }
}