.taskContainer {
  /* background-color: white; */
  /* background-color: rgba(255, 255, 255, 0.06); */
  /* color: black; */
  width: 28vw;
  height: 32vh;
  padding: 10px;
  border-radius: 8px;
  /* border: 2px solid #00e1ff; */
  /* border: 2px solid rgb(223,220,220); */
  /* border: 1px solid rgba(255, 255, 255, 0.2);  */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  */
}
.cardCircular {
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: linear-gradient(
    120deg,
    #393939 30%,
    #5d5d5d 38%,
    #464646 40%,
    #4e4e4e 48%
  );
  border-radius: 50%;
  background-size: 200% 100%;
  background-position: 100% 0;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardCircularText {
  font-size: 30px;
  color: white;
}
.card {
  /* background: white; */
  /* padding: 20px; */
  /* border-radius: 12px; */
  background-color: rgba(255, 255, 255, 0.06);
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  max-height: fit-content;
}
.taskViewAllText {
  text-decoration: none;
}
.headingContainer {
  display: flex;
  justify-content: space-between;
}
.heading {
  /* font-size: 18px;
  font-weight: bold; */
  margin-bottom: 10px;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.6);
  /* color: #ffff; */
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 30vh;
  scrollbar-width: none;
}
.taskList::-webkit-scrollbar {
  display: none;
}

.taskCard {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid white;
}

.taskInfo {
  display: flex;
  flex-direction: column;
}

.clientName {
  color: white;
  font-size: 1rem;
}

.remark {
  font-size: 14px;
  /* color: #00e1ff; */
  /* color: rgb(82,81,81); */
  color: rgba(255, 255, 255, 0.6);
}
.taskDeadline {
  font-size: 14px;
  color: grey;
}
@media screen and (max-width: 615px) {
  .card {
    display: none;
  }
}
@media screen and (max-width: 1024px) and (min-width: 616px) {

  
  .desktopdisplay{
    padding-left: 2vw;
    padding-right: 1vw;
  }
  .taskContainer {

    width: 27vw;
 
   
  }
}
