.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: #33 */
  color: white;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4vw;
  margin: 0;
  padding: 0;
}

.navLinks li {
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 16px;
  color: #ffffffc9;
}

.navLinks li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease;
  /* color: white; */
}

.navLinks li:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/* 
.navLinks li {
  cursor: pointer;
  transition: color 0.3s;
  position: relative;
  font-size: 16px;
  color: gray;
} */

.navLinks li:hover {
  color: white;
}

.active {
  font-weight: bold;
  color: white;
}

.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -5px;
  left: 0;
  font-weight: bold;
  color: white;
}

.navLinks li.active {
  color: white;
  font-weight: bold;
}

.navLinks li.active::after {
  transform: translateX(-50%) scaleX(1);
}

.icons {
  margin-right: 40px;
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
  transition: color 0.3s;
}

.icon:hover {
  color: #f4a261;
}

.loginBtn {
  background-color: #ffffff0d;
  border: 1.5px solid #fff;
  color: #fff;
  padding: 5px 5px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  gap: 5px;
}

.loginBtn:hover {
  background-color: #f4a261;
  color: #1a1a1a;
  box-shadow: 0 0 8px rgba(244, 162, 97, 0.5);
}

.logo img {
  max-width: 100%;
  height: auto;
  padding-left: 20px;
}

.logo {
  width: 250px;
}

.hamburger {
  display: none;
  font-size: 17px;
  color: white;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  transition: transform 0.3s ease;
}

.closeIcon {
  margin-left: 11rem;
  font-size: 18px;
  color: white;
  cursor: pointer;

  transition: transform 0.3s;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #333;
  border-radius: 0px 30px 30px 0px;
  padding-top: 10px;
  z-index: 1000;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);
}

.slideIn {
  animation: slideInFromLeft 0.3s ease-in-out forwards;
}

.slideOut {
  animation: slideOutToLeft 0.6s ease-in-out forwards;
}

.mobileNavLinks {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  color: white;
  font-size: 18px;
}

.mobileNavLinks li {
  cursor: pointer;
  transition: color 0.3s;
}

.mobileNavLinks li:hover {
  color: #f4a261;
}

@media screen and (max-width: 615px) {
  .navLinks {
    display: none;
  }

  .navbar {
    height: 15px;
    width: 100vw;
  }
  .hamburger {
    display: block;
  }

  .logo {
    display: none;
  }

  .logoMobile {
    padding: 10px;
  }

  .icon {
    font-size: 4vw;
  }
  .icons {
    gap: 4vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 616px) {
  .navLinks {
    gap: 2vw;
  }

  .navLinks li {
    font-size: 12px;
  }

  .logo {
    width: 150px;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
