.card {
  background-color: rgba(255, 255, 255, 0.06); 
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);   
    border-radius: 8px;
  max-height: fit-content;
  width: fit-content;
}

.title {
  /* font-size: 18px; */
  /* font-weight: bold; */
  margin-bottom: 10px;
  /* color: #ffff; */
  font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.filterWrapper {
  position: relative;
  color: rgba(255, 255, 255, 0.6);
}

.dropdown {
  position: absolute;
  top: 20px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
  min-width: 100px;
  color: #555;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s ease;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.linegraphContainer {
  /* border: 2px solid #00e1ff; */
  /* border: 1px solid rgba(255, 255, 255, 0.2);  */
  width: 45vw;
  /* height: 250px; */
  border-radius: 8px;
  padding: 10px;
  /* background: #444; */
  /* background-color: white; */
  /* background-color: rgba(255, 255, 255, 0.06);  */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:615px) {
  .linegraphContainer {
 width: 95%;
  }
  
}
@media screen and  (max-width: 1024px ) and (min-width: 616px){
  
  .destopdiplay{
padding-left: 2vw;
  }
  .card{
    width: 46vw;
  }
}