.container {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  align-items: flex-end;
  padding-right: 5px;
  padding-left: 3px;
  padding-top: 10px;
  flex-wrap: wrap;
  max-height: 80vh;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: rgb(46, 46, 46);
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 8vh;
  width: 11vw;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.button:hover {
  background-color: #e5e5e5;
  transform: translateY(-1px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.icon {
  margin-right: 10px;
  font-size: 18px;
  color: black;
}

@media screen and (max-width: 615px) {
  .container {
    padding-left: 55px;
    padding-top: 5px;
  }
  .button {
    width: 100%;
    height: 45px;
    font-size: 12px;
    font-weight: 600;
   
  
  }

  .button:hover {
    background-color: #f0f8ff;
    border: 2px solid #00bfff;
    transform: translateY(-1px);
    box-shadow: 0 0 12px rgba(0, 191, 255, 0.3);
    color: #00bfff;
  }
  .icon:hover {
    color: #00bfff;
  }
}
@media screen and (max-width: 1024px) and (min-width: 616px) {
  .button {
    width: 13vw;
  }
  .container {
    width: 90%;
  }
}
