
.sectionHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color:  #5fc3f8;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 16px 0;
}
.inputWrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    background-color: #fff;
  }
  
  .inputIcon {
    color: #555;
  }
  
  .inputField {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    padding-left: 8px;
    background: transparent;
  }
