.filleadlistContainer {
  display: flex;
  /* gap: 10px; */
  align-items: flex-start;
}

.filterWrapper {
  /* width: 250px; */
  flex-shrink: 0;
}

.listDetailsContainer {
  display: flex;
  width: 100%;
}
.listContainer {
  /* width: auto; */
  width: 23%;
}

.fullContainer {
  /* background-color: #333; */
}

.listHistoryContainer {
  display: flex;
  flex-direction: column;
  width: 77%;
}

.messageWrapper {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}
.messageWrapper p {
  color: gray;
  font-size: 18px;
}


.backButtonWrapper {
  padding: 10px 20px 0px 20px;
  display: flex;
  align-items: center;
}

.backIcon {
  cursor: pointer;
  color: #ffffff;
  transition: transform 0.2s ease, color 0.2s ease;
}

.backIcon:hover {
  color: #007bff;
  transform: translateX(-3px);
}


