.lineTaskContainer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    /* background-color:  #333; */
}

.ReminPieContainer{
    display: flex;
    padding-top: 20px;
    /* background-color: #333; */
}
.displaymobile{
    display: none;
}
.pie-card-container{
    flex-direction: row;
}
.displaydesktop{
    display: none;
}
.buttondisplay{
    display: flex;
}
.desktopRemander{
    display: none;
}
@media screen and (max-width: 615px) {
    .display {
   display: none;
    }
    .displaymobile{
        display:flex;
    }
    .display{
        display: none;
    }
    .buttondisplay{
        display: none;
    }
  }
  @media screen and  (max-width: 1024px ) and (min-width: 900px){
    .displaydesktop{
        display: none;
    }
    .lineTaskContainer{
        padding-top: 3vh;
    }
    .nondisplaydesktop{
        display: none;
    }
    .desktopRemander{
        display: flex;
    }
  }
  @media screen and  (max-width: 901px ) and (min-width: 616px){
    .displaydesktop{
        display: flex;
    }
    .lineTaskContainer{
       
        padding-top: 3vh;
        
    }
    .nondisplaydesktop{
        display: none;
    }
    .displaydesktop{
        display: flex;
        
    }
    .display{
        display: none;
    }
    .buttondisplay{
        display: flex;
    }
    .desktopRemander{
        display: flex;
    }

  }
