.lineTaskContainer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    /* background-color:  #333; */
}

.ReminPieContainer{
    display: flex;
    padding-top: 20px;
    /* background-color: #333; */
}
.displaymobile{
    display: none;
}
.pie-card-container{
    flex-direction: row;
}
.displaydesktop{
    display: none;
}
@media screen and (max-width: 615px) {
    .display {
   display: none;
    }
    .displaymobile{
        display:flex;
    }
    .display{
        display: none;
    }
  }
  @media screen and  (max-width: 1024px ) and (min-width: 616px){
    .displaydesktop{
        display: flex;
    }
    .display {
        display: none;
         }
  }
